@import '../../core/style/variables';

// 灰色背景
.drawer-backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  z-index: 3;
  visibility: hidden;
}
.drawer-backdrop {
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.25,.8,.25,1);
  transition-property: background-color;
}
// .drawer-backdrop-in {
  // visibility: visible;// 通过visibility实现
  // background-color: rgba(0, 0, 0, 0.6); // 设置背景的透明度
// }

// 侧栏
.drawer {
  top: 0;
  bottom: 0;
  position: absolute;
  display: block;
  z-index: 3;
  width: 300px;
  outline: 0;
  overflow-y: auto;
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  transform: translate3d(-100%,0,0);
  transition: transform 0.4s cubic-bezier(.25,.8,.25,1);
}

// .drawer-in {
//   transform: translate3d(0,0,0); // 通过translateX实现
// }

@media ($mat-xsmall) {
  .drawer {
    width: 80vw;
  }
}