.page {
    box-sizing: border-box;
    padding: 32px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fafafa;
    z-index: 5555;
    opacity: 1;
    height: 100%;
    width: 100%;
}