@import '../../core/style/variables';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .mat-sidenav {
    min-width: 300px;

    .mat-button {
      width: 100%;
      position: relative;
      bottom: 0;
      margin: 24px 0;
    }
  }

  .demo-content {

  }

  .mat-toolbar {
    .mat-icon {
      cursor: pointer;
    }

    .demo-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

}

.m-header {
  position: fixed;
  z-index: 1;
}
// stretch to screen size in fullscreen mode
.demo-content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 32px;
  margin-top: 48px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;


  display: flex;
  flex-wrap: wrap;

  .mat-card {
    box-sizing:border-box;
    width: calc((100% - 16px)/2);
    height: 100%;
    margin-right: 16px;
    margin-bottom: 16px;
    cursor: pointer;

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:hover {
      box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    }
  }
}

@media ($mat-xsmall) {
  .demo-content {
    .mat-card {
      width: 100%;
      margin-right: 0;
    }
  }

}