@import '../../../core/theming/palette';
@import '../../../core/theming/theming';


@mixin _mat-blog-detail-color($palette) {
  background: mat-color($palette);
  color: mat-color($palette, default-contrast);
}

@mixin mat-blog-detail-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .m-header,.m-footer {
    background: mat-color($background, app-bar);
    color: mat-color($foreground, text);
    
    &.mat-primary {
      @include _mat-blog-detail-color($primary);
    }

    &.mat-accent {
      @include _mat-blog-detail-color($accent);
    }

    &.mat-warn {
      @include _mat-blog-detail-color($warn);
    }
  }
  .blog-detail,.m-article {
    background: mat-color($background, background);
    color: mat-color($foreground, text);
  }
}