<div class="blog-detail">
  <!-- 头部 -->
  <header class='m-header' #header>
    <div #topBar>
      <mat-toolbar color="primary" >
        <button mat-icon-button class="m-menu" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="demo-toolbar">
          <!-- <h1> Material</h1> -->
          <span></span>
          <div>
            <button mat-button> theme</button>
            <button mat-icon-button (click)="toggleFullscreen()" title="Toggle fullscreen">
              <mat-icon>share</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Open basic menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let item of items" (click)="select(item.text)" [disabled]="item.disabled">
                {{ item.text }}
              </button>
            </mat-menu>
          </div>
        </div>
      </mat-toolbar>
    </div>
    <div #middleBar class="middleBar">
      {{blogDetail.title}}
    </div>
    <div #bottomBar class="bottomBar">
      {{blogDetail.abstract}}
    </div>
  </header>
  <!-- 内容 -->
  <article #article class="m-article">
    
  </article>
  <!-- 底部 -->
  <footer>
    <div class='m-footer'>
      <a *ngIf="pre" class="m-footer-section-left" (click)="toPrevious()">
        <div class="direction">previous</div>
        <mat-icon>arrow_back</mat-icon>
        <span>{{pre.title}}</span>
      </a>
      <a *ngIf="next" class="m-footer-section-right" (click)="toNext()">
        <div class="direction">next</div>
        <span>{{next.title}}</span>
        <mat-icon>arrow_forward</mat-icon>
      </a>

    </div>
  </footer>
</div>