// @import '../../../core/style/variables';
@import '../../../components/toolbar/toolbar';
// :host { 
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   z-index: 3;
//   background: white;
// }


.blog-detail {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
  background: white;
  // background-color: #fafafa;
}

.mat-toolbar {
    .mat-icon {
      cursor: pointer;
    }
    .demo-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
}

.m-header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: #3f51b5;
  color: rgba(255, 255, 255, 0.87);
}

.m-article {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  max-width: 800px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(56px * 3);
}
.m-footer {
  width: 100%;
  height: 96px;
  background: #3f51b5;
  color: rgba(255, 255, 255, 0.87);
}
@mixin footer-section {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 24px 16px 16px;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
  span {
    max-width: calc(100% - 24px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.m-footer-section-left {
  @include footer-section;
  float: left;
  .direction {
    padding-left:24px
  }
}

.m-footer-section-right {
  @include footer-section;
  float: right;
  justify-content: flex-end;
  .direction {
    text-align: right;
    padding-right:24px
  }
}

.direction {
  width: 100%;
  font-size: 15px;
  color: rgba(255,255,255,0.55);
}


@mixin toolbar-height($height) {
  .middleBar,.bottomBar {
    height: $height;
    line-height: $height;
    display: block;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
  }
  .m-header {
    height: calc(#{$height} * 3);
  }
  .m-article {
    margin-top: calc(#{$height} * 3);
  }
}

.middleBar {
  margin: 0 16px 0 56px;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-font-smoothing: antialiased;
}
.bottomBar {
  // margin-left: 40px;
  padding: 0 16px;
  font-family: 400 16px/24px 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
@include toolbar-height($mat-toolbar-height-desktop);

@media ($mat-xsmall) {
  @include toolbar-height($mat-toolbar-height-mobile-portrait);
  .m-footer-section-left:hover, .m-footer-section-right:hover{
    background: none;
  }
  .m-footer-section-left:active, .m-footer-section-right:active{
    background-color: rgba(0, 0, 0, 0.12);
  }

}