<div class="page">
<!--             (pan)="panCount = panCount + 1"
            (longpress)="longpressCount = longpressCount + 1"
            (press)="pressCount = pressCount + 1"
            (slide)="_onSlide($event);slideCount = slideCount + 1"
            (slideend) =  "_onSlideEnd($event)"
            (slidestart) = "_onSlideStart($event)"
            (swipe)="onSwipe($event);swipeCount = swipeCount + 1;" -->
    <mat-toolbar color="primary" >
    <button mat-icon-button (click)="goBack()">
        <span class="arrow_back"></span>
    </button>

    <button mat-icon-button (click)="drawer.open()">
      <span class="menu"></span>
    </button>

    </mat-toolbar>
<!--     <div class="demo-gestures">
           <p>Pan: {{panCount}}</p>
           <p>Longpress: {{longpressCount}}</p>
           <p>Press: {{pressCount}}</p>
           <p>Swipe: {{swipeCount}}</p>
           <p>Slide: {{slideCount}}</p>
    </div>
     -->

  <div class="demo-content">

  <app-modal></app-modal>

  <button mat-button (click)="showAlert()">
    showAlert
  </button>

    <app-drawer #drawer></app-drawer>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="下拉刷新">
    </ion-refresher-content>
  </ion-refresher>
    <mat-list>
      <h3 mat-subheader>Items</h3>
      <mat-list-item *ngFor="let item of items">
        {{item}}
      </mat-list-item>
    </mat-list>
  </div>
  <infinite-scroll loadingText="加载更多" (infinite)="doInfinite($event)"></infinite-scroll>
</div>
